:root {
    --color-text: #2a2722;
    --color-background: #fafafa;
    --color-text-mid: #666;
    --color-border-mid: #bdbdbd;
    --color-border-light: #eee;
}

/* BODY -------------------------------------------------- */
body {
    font-family: "IBM Plex Serif", serif;
    margin: 0;
    padding: 0;
    text-align: left;

    background: var(--bg);
    background-size: 100% 600px;

    color: var(--text-normal);
    font-size: 20px;
    line-height: 1.7;
}

/* HEADINGS -------------------------------------------------- */

.fancy-font {
    font-family: "Pirata One", system-ui;
}

.runny-font {
    font-family: "UnifrakturCook", system-ui;
}

.title-font {
    font-family: "Cormorant Garamond Variable", serif;
}

.xl {
    font-size: 6rem;
}

h1 {
    color: var(--text-primary);
}

h3,
h4,
h5,
h6 {
    color: var(--text-secondary);
}
h2 {
    color: var(--text-secondary);
}
/* CODE BLOCKS -------------------------------------------------- */
code {
    background-color: #3c3836;
    color: #fabd2f;
    border-radius: 2px;
}

pre {
    background-color: #1d2021;
    color: #ebdbb2;
    padding: 1.5em;
    border-radius: 8px;
}

/* BLOCKQUOTE -------------------------------------------------- */
blockquote {
    border-left: 4px solid var(--accent);
    color: var(--text-normal);
}

/* HR -------------------------------------------------- */
hr {
    border-top: 1px solid #3c3836;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}
